@charset "utf-8";

/*========= レイアウトのためのCSS ===============*/
.TextTyping {
  text-align: center;
  margin: 20px 0;
  font-size: 1.5rem;
  letter-spacing: .5e
    word-break : break-all;
	margin-top: 40px;
}

.TextTyping {
  text-align: center;
}

/*========= タイピング ===============*/

.TextTyping p {
  display: none;
	margin-top: 40px;
}


/*文字列後ろの線の設定*/
.TextTyping::after {
  content: "|";
  animation: typinganime .8s ease infinite;
}

@keyframes typinganime{
  from{opacity:0}
  to{opacity:1}
}

/*==================================================
　印象編　8-16 テキストが滑らかに出現
===================================*/


span.smoothText {

  overflow: hidden;

  display: block;
}


span.smoothTextTrigger{
	
  transition: .8s ease-in-out;

  transform: translate3d(0,100%,0) skewY(12deg);

  transform-origin: left;
	display: block;

}


span.smoothTextTrigger.smoothTextAppear{
    
  
  transform: translate3d(0,0,0) skewY(0);
}



@charset "utf-8";

/*========= レイアウトのためのCSS ===============*/
.TextTyping {
  text-align: center;
  margin: 20px 0;
  font-size: 1.5rem;
  letter-spacing: .5e
    word-break : break-all;
}

.TextTyping {
  text-align: center;
	margin-top: 40px;
}

/*========= タイピング ===============*/

.TextTyping p {
  display: none;
}


/*文字列後ろの線の設定*/
.TextTyping::after {
  content: "|";
  animation: typinganime .8s ease infinite;
}

@keyframes typinganime{
  from{opacity:0}
  to{opacity:1}
}

/*==================================================
　印象編　8-16 テキストが滑らかに出現
===================================*/


span.smoothText {

  overflow: hidden;

  display: block;
}


span.smoothTextTrigger{
	
  transition: .8s ease-in-out;

  transform: translate3d(0,100%,0) skewY(12deg);

  transform-origin: left;
	display: block;

}


span.smoothTextTrigger.smoothTextAppear{
    
  
  transform: translate3d(0,0,0) skewY(0);
}






/*==================================================
　印象編　9-4-1　SVG アニメーション
===================================*/

.service-img svg{
	width:102%;/*SVGのサイズ*/
}



*{box-sizing: border-box;}

ul{
	margin:0;
	padding: 0;
	list-style: none;
}

a{
	color: #000;
	text-decoration: none;
    outline: none;
}



/* area */

.fixed{
    z-index: 1;
    width:109%;
    max-width:100%;
	 justify-content: space-around;
    padding:0 7vw;
	animation: bgchange 40s ease infinite;
}

@media screen and (max-width:768px) {
  #service.fixed,
  #about.fixed{
      height: auto;
    }
}

@media screen and (max-width:540px) {
.fixed{
    padding:0 60px;
    }
    
}


/* service */

#service{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
	
}

_:-ms-lang(x)::-ms-backdrop, #service{/*IE11用ハック*/
    display: block;
}

#service .service-area {
    display:flex;
  justify-content: space-around;
   flex-wrap:wrap;
	 margin: 0 0 0 30px;
	
}




#service .service-area inner{
    width: 65%;
	
}

#service .service-area .service-img{
     width:100%;
    margin: 0 auto 2vh auto;
	 display:flex;
	 flex-wrap:wrap;
	 margin: auto;
}

#service h3{
    font-size: 20px;
    font-weight: normal;
	
}

#service .caption{
    font-weight: bold;
    margin: 0 0 3vh 0;
}   

@media screen and (max-width:768px) {
#service{
    padding:0 0 18vh 0; 
}


#service .service-area {
  justify-content: space-around;
    margin: 0 0 0 0px;
	
}
	

#service .service-area{
    justify-content: space-around;
}

#service .service-area section{
    width: 65%;
    margin: 0 0 5vh 0;
}

#service h2{
    padding:15vh 0 0 0;
}
    
#service h3{
    font-size: 1.5rem;
	
}

#service .service-area .service-img{
     width:50%;
    margin: 0 auto 2vh auto;
	
}
	
}

@media screen and (max-width:500px) {

 #service .service-area{
    display: block;
	  margin: 0 0 0 0px;
}

#service .service-area section{
    width: 100%;
	 margin: 0 0 0 0px;
} 

#service .service-area .service-img{
     width:45%;
    margin: 0 auto 2vh auto;
	
}


#service h3{
    font-size: ;
    font-weight: normal;
}
	
}
