/*-------------------------------
              BASE
--------------------------------*/

* {
    margin: 0;
    padding: 0;
  }

  body {
    font-family: sans-serif;
    font-size: 16px;
    background-color: rgb(228, 229, 236);
  }

  /*-------------------------------
              LAYOUT
  --------------------------------*/

  #container {
    margin: auto;
    max-width: 960px;
  }

  header {
    position: relative;
    box-shadow: 0 4px 0.3125rem rgba(0,0,0,.3);
    background-color: rgb(156, 132, 240);
    color: white;
  }

  #lists {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(252, 255, 96);
    box-shadow: 0 4px 0.3125rem rgba(31, 106, 204, 0.3);
    opacity: 0.85;
  }
  #lists li {
    list-style-type: none;
    font-size: 80%;
  }
  #lists li a {
    display: block;
    padding: 1rem 0;
    text-decoration: none;
    text-align: center;
    color: green;
  }
  #lists li a:hover {
    background: rgb(250,175,175);
  }

  main {
    display: flex;
    flex-direction: column;
  }
  article {
    text-align: justify;
    color: white;
  }
  aside {
    text-align: left;
    color: rgb(69, 132, 146);
  }
  article h1,
  article p,
  aside h1,
  aside p {
    margin-bottom: 1rem;
  }

  footer {
    padding: 1.5rem;
    text-align: center;
    background-color: rgb(116, 135, 220);
    color:white;
  }
