@charset "utf-8";

/*========= レイアウトのためのCSS ===============*/
info2 p {
    margin: 20px 0;
  text-align: center;
  height: 140px
}

aside p {
  margin : 0px 4;
  height: 60px;
}

/*========= テキストを滑らかに出現させるためのCSS ===============*/
span.smoothText {
  overflow: hidden;

}

/* アニメーションで傾斜がついている文字列を水平に戻す*/
span.smoothTextTrigger{
  transition: .7s ease-in-out;
  transform: translate3d(0,100%,0) skewY(12deg);
  transform-origin: left;
  display: block;
}
span.smoothTextTrigger.smoothTextAppear{
    transform: translate3d(0,0,0) skewY(0);
