/*-------------------------------
               BASE
--------------------------------*/

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  background-color: white;
}

/*-------------------------------
         LAYOUT MOBILE
--------------------------------*/

#container {
  margin: auto;
  max-width: 960px;
}



header {
  position: relative;
  height: 4rem;

  background-color: #404855;
  color: white;
}
header h1 {
  position: absolute;
  top: 1.9rem;
  left: 2rem;
  font-size: 1.2rem;
}

#button {
  position: absolute;
  top: -0.5rem;
  right: 1rem;
}
#button a {
  color:#FFF;
}
#button img {
  cursor: pointer;
  width: 1.8rem;
}

.logo img {
   margin: -25px -87px -37px -40px;
  text-align:ceter;
}
#lists {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 5rem;
  color: #fff;
  background-color: #fff;
  opacity: 0.85;
}
#lists li {
  width: 100%;
  border-bottom: 1px solid #fff;
  list-style-type: none;
  font-size: 80%;
}
#lists li:last-child {
  border-bottom: none;
  
}
#lists a {
  display: block;
  font-size: 18px;
  padding: 1.4rem;
  color: #444;
  text-decoration: none;
  text-align: center;
  margin-top: -1px;
}

main {
  
  flex-direction: column;
}
article {
  padding: 2rem;
  text-align: justify;
  font-size: 0.85rem;
  background-color: #fff;
}

#page {
  display: fex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
  
}

#pic {
  width: 10%;
  height: auto;
}

.picbig img {
  width: 60%;
  margin: 30px;

}

aside {
  padding: 2rem;
  text-align: center;
  font-size: 0.85rem;
  background-color: #EE;
}


 #pic {
    width: 100%;
    margin-bottom: 2rem;
    margin-left: 0;
  }


  #pic2 {
    width: 100%;
    margin-left: 0px;
  }

#info p {
    font-size: 12px;
    color: #444;
}


#info2 p{
  color: #696969;
  margin: 40px;
}

#info2 span{
  font-size: 11px;
  font-weight: bold;
}

article h1 {
  text-align: center;
  
}
article p {
  
}
aside h1 {
  height: 
}
aside p {
  margin-bottom: 1rem;
   
}

footer {
  
  padding: 1.5rem;
  text-align: center;
  background-color: #404855;
  color:white;
}

/*-------------------------------
      LAYOUT PC (OverWrite)
--------------------------------*/

@media only screen and (min-width: 769px) {

  header {
    height: 5em;
  }
  header h1 {
    top: 2.4rem;
    left: -20.6rem;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
  }

  #lists {
    flex-direction: row;
    justify-contet: space-between;
    top: 5rem;
    left: 0;

    background-color: white;
  }
  #lists li {
    flex:1;
    border-bottom: none;
     display: block;
  padding: 12px 12px 12px 12px;
  /*color: #778899;*/
  text-align: center;
   
  }
  #lists li:last-child {
    border-right: none;
  }

  main {
    flex-direction: row;
    margin-top: 3rem;
  }
  article {
    flex: 3;
    padding: 3rem;
    font-size: 1rem;
  }
  aside {
    flex: 1;
    padding: 3rem;
    font-size: 1rem;
  }

}
